<header>
  <div class="container">
    <img class="logo" src="../assets/images/djamo-logo-black.svg" alt="logo" />
  </div>
</header>

<section class="hero">
  <div class="container mt-4">
    <h1 class="hero-title">
      Gérez tout votre argent dans une application unique
    </h1>
    <p class="hero-content">
      Nous bâtissons la première super application financière de l’Afrique de
      l’Ouest avec des solutions simples, sécurisées et 100% numériques afin que
      vous puissiez avoir le contrôle de votre argent, depuis votre téléphone
      mobile.
    </p>

    <h2 class="hero-subtitle">Notre presence</h2>
    <div class="card-container">
      <ng-container *ngFor="let country of countries">
        <app-card
          [cardTitle]="country.name"
          [cardStatus]="country.status"
          [cardImage]="country.flag"
        ></app-card>
      </ng-container>
    </div>
  </div>
</section>

<div class="circle-banner">
  <a href="#about" class="bounce">
    <img src="../assets/images/arrow.png" alt="arrow scroll down" />
  </a>
</div>
<section class="about" id="about">
  <div class="container">
    <h3 class="about-title">
      Notre mission, améliorer la santé financière de nos clients.
    </h3>
    <div class="about-content">
      Qu’il s’agisse de gérer vos dépenses quotidiennes ou de planifier votre
      avenir avec une épargne et des investissements, Djamo vous aidera à
      reprendre le contrôle sur vos finances et à mieux utiliser votre argent.
    </div>
    <div class="about-platform-logo">
      <div>
        <img src="../assets/images/google-play.png" alt="logo google play" />
      </div>
      <div>
        <img src="../assets/images/apple-ios.webp" alt="logo apple store" />
      </div>
    </div>
    <div class="image-box">
      <img
        class="about-image"
        src="../assets/images/djamo-card-people.png"
        alt=" people"
      />
    </div>
  </div>
</section>

<section class="info">
  <h2 class="info--title">Nos Valeurs</h2>
  <div class="container">
    <div class="container__flex px-4">
      <ng-container *ngFor="let info of infos">
        <app-info
          [position]="info.position"
          [title]="info.title"
          [content]="info.content"
        ></app-info>
      </ng-container>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container flex">
    <div>
      <img src="../assets/images/apple-ios.webp" alt="apple store logo" />
    </div>
    <div>
      <img src="../assets/images/google-play.png" alt=" play store logo" />
    </div>
  </div>
  <div class="footer-company">© Djamo Inc</div>
</footer>
